.background_header {
    background-color: #250902;
    color: white;
}
.header_size {
    width: 990px;
    height: 99px;
    display: flex;
}
.header_text {
    width: 990px;
    height: 990px;
    display: flex;
    text-align: center;
}